header {
    margin-bottom: 25px;
    max-width: 765px;
}

.title {
    font-weight: 600;
}

.author {
    margin: 25px 0px;
    font-size: 12px;
    font-weight: 600;
}

.split {
    width: 200px;
    height: 1px;
    background-color: black;
}